body{ margin-top:0px;
      background-color:#FFCCFF}
	
ul{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:26px;}

#pagina{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;}

.container{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:36px;}	