*{
margin:0;
padding:0;
}	
ul{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:26px;}

#pagina{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;}

.container{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:36px;}	

    #rodape {
        width: 100%;
        color: #000000;
        text-align: center;
        border: 1px solid;
        position: absolute;
        bottom: 0;
        background-color: #808080;
    }
	
	#menu{ 
	border:1px solid #000000;
	width:700px;
	height:30px; 
	background-color:#000000; 
	padding:10 10 15 30;
	-webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
		  float:left;}
		  
	#busca{
	border:1px solid #000000;
	background-color:#000000;
	width:1010px;
	height:60px;
 	-webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
		  padding:0 0 0 0; }
	
	#buscar{
 
	width:240px;
 
	padding:1 1 1 0;
	padding-top:18px; 
 	float:left;
	}	
	
fieldset{
display:block;
}	  